@page "/allevents"
@using EvManagerDemo.Data;
@using EvManagerDemo.Services;
@inject EventsService EventService

<PageTitle>Events</PageTitle>

<div class="row">
    <div class="col">
        <h1>Events List</h1>
    </div>
    <div class="col text-end">
        <a href="/admin/events/create" class="btn btn-success"><span class="oi oi-calendar" aria-hidden="true"></span> Create</a>
    </div>
</div>

@if (allEvents == null)
{
    <Loading></Loading>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Dates</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in allEvents)
            {
                <tr>
                    <td><a href="/admin/events/details/@e.EventId">@e.Name</a></td>
                    <td>@e.Location</td>
                    <td>@e.EventDays?.Count()</td>
                    <td class="text-end"><a href="/admin/events/edit/@e.EventId" class="btn btn-sm btn-warning"><span class="oi oi-pencil"></span></a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Event>? allEvents;

    protected override async Task OnInitializedAsync()
    {
        allEvents = await EventService.GetEventsAsync();
    }
}
